<%- include('partials/header.ejs'); %>

    <h1>Mongoose - A Middleman between your Mongo and Express App</h1>
    <a href="/heroes" style="margin-top: 60px; display: block;">Enter the hall of Fame</a
>

    <%- include('partials/footer.ejs'); %>